@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Noto+Sans:wght@500&family=Rubik:wght@300&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}